ExternalProject_Add(
  DOWNLOAD_NO_PROGRESS 1
  URL 
  PREFIX ${CMAKE_CURRENT_BINARY_DIR}/
  CMAKE_ARGS -DCMAKE_INSTALL_PREFIX:PATH=${CMAKE_BINARY_DIR}/  -DCMAKE_CXX_COMPILER=${CMAKE_CXX_COMPILER} -DCMAKE_C_COMPILER=${CMAKE_C_COMPILER}
)

set(_INCLUDE_DIR "${CMAKE_BINARY_DIR}/")
set(_LIBRARY "${CMAKE_BINARY_DIR}/")

include_directories(SYSTEM ${_INCLUDE_DIR})

set(DMUX_DEPENDENCY_LIBRARIES
    ${DMUX_DEPENDENCY_LIBRARIES}
    ${_LIBRARY}
    )